html,
body {

    height: 100%;
}




.pageName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.middlePanel {
    background-color: rgba(127, 255, 0, 0.38);
    display: flex;
    flex: 1;
    flex-direction: column;
    border: solid black 1px;

}
.rightPanel,
.leftPanel {
    width: 500px;
    background-color:  #ffff99;
    height: 100%;
}
.figurePictures {
    display: flex;
    justify-content: space-around;
}

img {
    width: 150px;
    height: 150px;
    border: solid black 1px
}

.playableButtons {
    display: flex;
    justify-content: space-around;
    margin-right: -10px;
    margin-top: 10px;
}
.welcomeText {
    margin: 10px;
}
.introductionText {
    display: flex;
    flex-direction: column;
}
.introductionText h3,
.introductionText p
{
    display: flex;
    justify-content: center;
    align-content: center;
}
button {
    border-radius: 5px;
    background-color: ;
    border: 1px solid black;
}
.winMessage,
.score {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 5px
}
.score {
    align-content: space-around;

}
.extraInfo {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.computerScore,
.playerScore{
    margin: 5px;
    font-size: larger;
}
.winMessage {
    font-size: larger;
}
button:hover {
    background: aqua;
}
button:active {
    background: blueviolet;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
